@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

.App {
  text-align: center;
}

html {
  background-color: #efe2ba;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header.MuiAppBar-colorPrimary {
  background-color: #f13c20;
  color: #fff;
}

header.MuiAppBar-colorPrimary.MuiTypography-h6 {
  font-family: "Roboto Mono";
}

#root > div > div.makeStyles-root-1 > header > div > h6 {
  font-family: "Roboto Mono";
}

.App-link {
  color: #61dafb;
}

.HomeContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeHeader {
  color: #f13c20;
  font-family: "Roboto Mono";
}

.HomeContent {
  width: 60%;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
